@{
    ViewBag.Title = "LogIn";
}


<table id="customers">
    <tr>
        <th id="tblhead" colspan="3">BankData</th>
    </tr>
    <tr>
        <th >BankName</th>
        <th >city</th>
        <th >Address</th>
    </tr>
   
    @foreach(string[] rcd in ViewData["BankData"] as List<string[]>)
    {
        <tr>
            <td>@rcd[0]</td>
            <td>@rcd[1]</td>
            <td>@rcd[2]</td>
        </tr>
    }   
</table>